/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 
 @import 'font-awesome-sprockets';
 @import 'font-awesome';
 @import 'devise';
 @import 'commons';
 @import 'flash';
 @import 'posts';
 @import 'profile';
 @import 'form';
 @import 'button';
 @import 'relation';


 html {
     word-spacing: 1px;
     -ms-text-size-adjust: 100%;
     -webkit-text-size-adjust: 100%;
     -moz-osx-font-smoothing: grayscale;
     -webkit-font-smoothing: antialiased;
     box-sizing: border-box;
     height: 100%;
  }
  
  *,
  *:before,
  *:after {
     box-sizing: border-box;
     margin: 0;
  }
  
  body {
     height: 100%;
     font-size: 1em;
  }

 .header {
     text-align: center;
     padding-top: 10px;
     padding-bottom: 20px;
     font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
     font-size: 24px;
 }

 .footer {
     position: fixed;
     bottom: 0; 
     background-color: #fff;
     width: 100%;
     height: 50px;
     z-index: 1;

     &_list {
         display: flex;
         justify-content: space-around;
         padding-top: 10px;
     }

     &_profile {
         img {
            border-radius: 100%;
            object-fit: cover;
         }
     }

     img {
         width: $icon-size;
         height: $icon-size;
     }
 }
  
 .container {
     padding: 12px 12px 0 12px;
     min-height: 100vh;
     width: 100%;
     position: relative;
     padding-bottom: 50px;
     box-sizing: border-box;
 }

 .hidden {
     display: none;
 }