$icon-size: 30px;

a {
    text-decoration: none;
    color: royalblue;
}

img {
    cursor: pointer;
}

.user-image {
    border-radius: 100%;
    object-fit: cover;
}

.dropdown {
    position: relative;
    display: inline-block;
    float: right;

    img {
        width: $icon-size;
        height: $icon-size;
    }
}

.dropdown-content {
    display: none;
    position: absolute;
    right: 0px;
    background-color: #fff;
    border: solid 1px darkgray;
    min-width: 145px;
    z-index: 1;
    a {
        display: block;
        padding: 3px 0 3px 5px;
        font-size: 12px;
    }
}

.dropdown:hover .dropdown-content {
    display: block;
}