@import 'commons';

.card {
    margin-bottom: 50px;

    &_top {
        display: flex;
        font-size: 5px;
        position: relative;
        img {
            width: $icon-size;
            height: $icon-size;
        }

        .name {
            font-weight: bold;
            padding-left: 8px;
        }
        
        .time {
            color: darkgray;
            padding-left: 8px;
        }

        &_menu {
            right: 0px;
            position: absolute;
        }
    }

    &_images {
        position: relative;
        padding: 5px 0;
        img {
            position: relative;
            width: 100%;
        }
    }

    &_reaction {
        display: flex;
        
        &_comment {
            padding: 0 8px;
        }
    }

    &_text {
        display: flex;
        padding-top: 5px;
        font-size: 12px;
        p {
            font-weight: bold;
            padding-right: 6px;
        }
    }

    &_comment {
        width: 100%;
        display: flexbox;
        position: relative;
        padding: 20px;

        .detail {
            display: flex;
            padding: 10px 0;
            border-top: solid 1px darkgrey;
            align-items: center;
        }
        .icon {
            padding-right: 20px;
            img {
                width: $icon-size;
                height: $icon-size;
            }
        }
        .commenter {
            font-size: 12px;
        }
        .text {
            padding-top: 5px;
            font-size: 12px;
            color: darkgrey;
        }
    }
}