@import 'commons';

.card {
    margin: 24px 0 50px 0;

    &_top {
        display: flex;
        font-size: 5px;
        position: relative;
        img {
            cursor: pointer;
            width: $icon-size;
            height: $icon-size;
            border-radius: 100%;
        }

        .name {
            font-weight: bold;
            padding-left: 8px;
        }
        
        .time {
            color: darkgray;
            padding-left: 8px;
        }

        &_menu {
            right: 0px;
            position: absolute;
        }
    }

    &_images {
        position: relative;
        padding: 5px 0;
        img {
            position: relative;
            width: 100%;
        }
    }

    &_reaction {
        display: flex;
        
        &_comment {
            padding: 0 8px;
        }
    }

    &_text {
        display: flex;
        padding-top: 5px;
        font-size: 12px;
        p {
            font-weight: bold;
            padding-right: 6px;
        }
    }

    &_comment {
        p {
            padding: 5px 0;
        }
        
    }
}