@import 'commons';

.menu {
    width: 100%;
    height: $icon-size;
    right: 0px;
}

.user_image {
    text-align: center;
    padding: 20px 0;
    img {
        width: 80px;
        height: 80px;
    }
}

.user_detail {
    margin: 10px 0;
    text-align: center;
    font-size: large;
}

.user_status {
    display: flex;
    justify-content: space-between;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding: 20px 0;

}

.user_pictures {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    img {
        width: 110px;
        height: 110px;
        margin-bottom: 4px;
        object-fit: cover;
    }
}

.number {
    font-weight: bold;
    font-size: 16px;
}

.count {
    font-size: 12px;
}

