@import 'commons';

.menu {
    width: 100%;
    height: $icon-size;
    right: 0px;
}

.user_image {
    text-align: center;
    padding: 20px 0;

    img {
        width: 60px;
        height: 60px;
        border-radius: 100%;
    }
}

.user_detail {
    margin: 10px 0;
    text-align: center;
    font-size: large;
}

.user_status {
    display: flex;
    justify-content: space-around;
    padding: 20px 0;
}

.user_pictures {
    img {
        width: 100%;
        padding: 5px 0;
    }
}

